@import "tailwindcss";

@layer components {
  input {
    @apply w-full border-2 rounded py-2 px-1;
  }
  h1 {
    @apply font-bold text-2xl;
  }
  h2 {
    @apply font-semibold text-2xl;
  }
  label {
    @apply flex items-center gap-2 cursor-pointer;
  }
  form {
    @apply flex flex-col gap-2 w-full;
  }
  input[type="radio"] {
    @apply w-4 h-4 cursor-pointer;
  }
  button {
    @apply cursor-pointer flex justify-center items-center;
  }
}

@layer utilities {
  .keyword {
    @apply border rounded justify-start hover:bg-gray-200 py-2 pl-3;
  }
  .small-text {
    @apply text-sm text-neutral-600;
  }
  .page-num {
    @apply rounded-full border  w-10 h-10;
  }
  .selected-page {
    @apply rounded-full border  w-10 h-10 text-white bg-black;
  }
  .page-nav {
    @apply rounded-full border w-20 h-10;
  }
}
